header {
	margin: auto;
    position: relative;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 14px;
    position: relative;
	@include box-shadow($y-axis: 2px, $blur-radius: 4px);
}