/****** Banner ***********/

.banner {
	max-height : 383px;
	width: 100%;
	object-fit: cover;
}

/****** Restaurant card***********/

.restaurant {
	max-width: 1055px;
	margin: auto;
	background-color: #F6F6F6;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	margin-top: -50px;
	padding-bottom: 40px;
	position: relative;

	@media (min-width: 1024px) {
		padding: 0 210px 40px 210px;
	}

	&__header {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		padding-top: 32px;
	}

	&__title {
		margin-right: 24px;
	}
}

.fa-heart {
	position: absolute;
	right: 41px;
	bottom: 15px;
}

.menu {

	&__category {
		margin: 40px 13px;
	}

	&__title {
		border-bottom: 3px solid #99E2D0;
		width: 40px;
		padding-bottom: 5px;
	}

	&__card {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;
		margin: 10px;
		border-radius: 20px;
		box-shadow: 0px 4.01px 15.04px 0px #0000001A;
		cursor: pointer;
		transition: 0.5s ease-in;
	}

	&__description {
		padding: 13px 15px;
	}

	&__price {
		padding: 13px 15px;
		font-size: 18px;
		font-weight: 700;
		color: #353535;
	}
}